.zcompdump
packer_compiled.vim
packer_compiled.lua
*.pl
*playlist*
*cache
*save
*history
*info*
*help*
*README*
*readme*

lazygit/.config/lazygit/state.yml
rust/.cargo/registry
.fehbg

bin/.local/bin/autopep8
bin/.local/bin/epylint
bin/.local/bin/flake8
bin/.local/bin/get_objgraph
bin/.local/bin/isort
bin/.local/bin/isort-identify-imports
bin/.local/bin/pycodestyle
bin/.local/bin/pydocstyle
bin/.local/bin/pyflakes
bin/.local/bin/pylint
bin/.local/bin/pylint-config
bin/.local/bin/pylsp
bin/.local/bin/pyreverse
bin/.local/bin/symilar
bin/.local/bin/undill
bin/.local/bin/yapf
bin/.local/bin/yapf-diff