.zcompdump
packer_compiled.vim
packer_compiled.lua
*.pl
*playlist*
*cache
*save
*history
*info*
*help*
*README*
*readme*

lazygit/.config/lazygit/state.yml
rust/.cargo/registry
.fehbg

bin/.local/bin/autopep8
bin/.local/bin/epylint
bin/.local/bin/flake8
bin/.local/bin/get_objgraph
bin/.local/bin/isort*
bin/.local/bin/py*
bin/.local/bin/*python*
bin/.local/bin/jupyter*
bin/.local/bin/symilar
bin/.local/bin/undill
bin/.local/bin/yapf*
bin/.local/bin/f2py*
bin/.local/bin/jcv*
bin/.local/bin/jlpm
bin/.local/bin/jsonschema
bin/.local/bin/normalizer
bin/.local/bin/qtpy
bin/.local/bin/send2trash
bin/.local/bin/voila
bin/.local/bin/wsdump

bin/.local/bin/ezdxf
bin/.local/bin
nvim_lazy/.config/nvim/lazy-lock.json
