configuration {
  font: "RobotoMono Nerd Font 13";

  modi: "window,drun,ssh,combi";
  combi-modi: "window,drun,ssh";

  levenshtein-sort: true;
  matching: "fuzzy";

  terminal: "alacritty";
}

@theme "nord"
