configuration {
  font: "FiraCode Retina NF 16";

  modi: "run,drun,ssh,combi";
  combi-modi: "run,drun,ssh";
  show-icons: true;
  levenshtein-sort: true;
  matching: "fuzzy";
}

@theme "nord"

window {
    width: 30%;
}
